entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
  file:
    filename: /etc/traefik/dynamic.yml

api:
  dashboard: true
  insecure: false

certificatesResolvers:
  myresolver:
    acme:
      email: "${LETSENCRYPT_EMAIL}"
      storage: /acme.json
      tlsChallenge: {}
